<!-- <ul>
    <li class="text" *ngFor="let chat of chats | async">
        {{chat.mensaje}}
    </li>
</ul> -->

<div class="container main-container">
    <h1>Firechat</h1>

    <div class="col-md-12 text-end" *ngIf="chatServices.usuario.uid">
        <button class="btn btn-outline-danger" (click)="chatServices.logout()">Salir</button>
    </div>

    <app-login *ngIf="!chatServices.usuario.uid"></app-login>

    <div class="chat-window" *ngIf="chatServices.usuario.uid">
        <app-chat></app-chat>
    </div>


</div>